<div class="navbar">
  <div class="logo">
    <%= link_to "Félix Timmel", root_path %>
  </div>

  <div class="navbar_links">
    <div class="text_links">
      <%= link_to "Portfolio", root_path(anchor: 'projets') %>
      <%= link_to "Compétences", root_path(anchor: 'skills') %>
      <%= link_to "Contact", root_path(anchor: 'contact') %>
    </div>
    <span>
    <%= link_to root_path do %>
    🇫🇷
    <% end %>
  |
    <%= link_to english_path do %>
    🇬🇧
    <% end %>
  </span>
  </div>
</div>
