<div class="main_container">
  <div class="about_me">
    <span class="heading underline">Full Stack Developer</span>
    <div class="flex">
      <div class="description">
        <p>
          Hi, I'm Félix, web developer located in Paris. <br>
          After my master in digital marketing, I went to Montreal to discover the coding word by following the <a href="https://www.lewagon.com/fr/montreal/web-development-course/full-time" target="_blank" style="color: #ff0059">Le wagon</a> bootcamp.
        </p>
      </div>
      <div class="description_image">
        <img src="<%= image_url "profil_pic.jpg" %>" alt="proile image" class="profile_avatar">
      </div>
    </div>
  </div>
</div>

<div class="projects" id="projets">
  <div class="main_container">
    <div class="project_grid">
      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began-homepage.png" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <div>
            <p style="font-size: small;">Mobile site</p>
            <p>
              Began is a web-app which aims to guide you towards a vegan diet. <br>
              This is the final project of my 9 week bootcamp.
            </p>
          </div>
          <div class="project_link">
            <p><%= link_to "View project", "http://www.began.fun/", target: "_blank" %></p>
          </div>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "ctstudio-pic.png" %>" alt="ct-studio image">
        </div>
        <div class="project_card_content">
          <div>
            <p style="font-size: small;">Website</p>
            <p>ct-studio : Market place for designs</p>
            <p style="font-size: small;">
              To login without having to create an account: <br>
              Email : felix@web.com
              password : 123456
            </p>
          </div>
          <div class="project_link">
            <p><%= link_to "View project", "https://ctstudio.herokuapp.com/", target: "_blank" %></p>
          </div>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "cocktail-homepage.png" %>" alt="cocktailitos image">
        </div>
        <div class="project_card_content">
          <div>
            <p style="font-size: small;">Website</p>
            <p>Cocktailitos : A cocktail platform for applying CRUD operations intended for data persistence.</p>
          </div>
          <div class="project_link">
            <p><%= link_to "View project", "https://misses-cocktail-batch367.herokuapp.com/", target: "_blank" %></p>
          </div>
        </div>
      </div>

    </div>
    <div class="project_content">
      <p class="heading">
        Projects
      </p>
      <ul class="list">
        <div class="project_row">
          <li class="item"><i class="far fa-circle"></i> Conception</li>
          <li class="item"><i class="far fa-circle"></i> Design</li>
        </div>
        <div class="project_row">
          <li class="item"><i class="far fa-circle"></i> Production</li>
          <li class="item"><i class="far fa-circle"></i> Team work</li>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="main_container">
  <div class="skills" id="skills">
    <p class="heading">Skills</p>
    <div class="skill_grid">
      <p class="skills_box">Ruby on Rails</p>
      <p class="skills_box">APIs, JSON, scraping</p>
      <p class="skills_box">Databases, SQL, Postgres</p>
      <p class="skills_box">HTML, CSS, Bootstrap</p>
      <p class="skills_box">ES6 Javascript</p>
      <p class="skills_box">Wireframes, prototyping </p>
      <p class="skills_box">UX / UI design</p>
      <p class="skills_box">Test driven development</p>
      <p class="skills_box">Git, Github</p>
      <p class="skills_box">Technical workflow</p>
    </div>
  </div>
</div>

<div class="chat" id="contact">
  <div class="main_container">
    <div class="chat_content">
      <p class="heading">Let's chat</p>
      <p>
        I'm always interested about learning new stuff <br>
        And talking is what gather us
      </p>
      <div class="chat_btn">
        <a class="mailto" href="mailto:felix.timmel@hotmail.fr">
          <button class="button">Contact me !</button>
        </a>
      </div>
      <div class="chat_links">
        <%= link_to "https://www.linkedin.com/in/felixtimmel/", target: "_blank" do %>
          <p class="links_container"><i class="fab fa-linkedin"></i></p>
        <% end %>
        <%= link_to "https://github.com/felixtimmel", target: "_blank" do %>
          <p class="links_container"><i class="fab fa-github-square"></i></p>
        <% end %>
        <p class="links_container"><i class="fas fa-phone-square" data-toggle="modal" data-target="#phoneModal"></i></p>
        <p class="links_container"><i class="fas fa-envelope-square" data-toggle="modal" data-target="#mailModal"></i></p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="phoneModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Phone number</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        07 77 05 34 12
      </div>
      <div class="modal-footer">
        <button class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li class="item">felix.timmel@hotmail.fr</li>
          <li class="item">f.timmel95@gmail.com</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
