<div class="main_container">
  <div class="about_me">
    <span class="heading underline">Full Stack Developer</span>

    <div class="description">
      <p>
        Salut, moi c'est Félix. <br>
        Bienvenue sur mon portfolio !
      </p>
    </div>

  </div>
</div>

<div class="projects" id="projets">
  <div class="main_container">
    <div class="project_grid">
      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>
    </div>
    <div class="project_content">
      <p class="heading">
        Projets
      </p>
      <ul class="list">
        <div class="project_row">
          <li class="item"><i class="far fa-circle"></i> Conception</li>
          <li class="item"><i class="far fa-circle"></i> Ecoute</li>
        </div>
        <div class="project_row">
          <li class="item"><i class="far fa-circle"></i> Prototypage</li>
          <li class="item"><i class="far fa-circle"></i> Partage des taches</li>
        </div>
        <div class="project_row">
          <li class="item"><i class="far fa-circle"></i> Mise en production</li>
          <li class="item"><i class="far fa-circle"></i> Travail en équipe</li>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="main_container">
  <div class="skills" id="skills">
    <p class="heading">Skills</p>
    <div class="skill_grid">
      <p class="skills_box">Ruby on Rails</p>
      <p class="skills_box">APIs, JSON, scraping</p>
      <p class="skills_box">Relational databases, SQL, Postgres</p>
      <p class="skills_box">HTML, CSS, Bootstrap</p>
      <p class="skills_box">ES6 Javascript</p>
      <p class="skills_box">Wireframes, prototyping, UI design</p>
      <p class="skills_box">Test driven development</p>
      <p class="skills_box">Git, Github, technical workflow</p>
    </div>
  </div>
</div>

<div class="chat" id="contact">
  <div class="main_container">
    <div class="chat_content">
      <p class="heading">Let's chat</p>
      <p>
        Je suis toujours intéréssé pour apprendre de nouvelles choses <br>
        Et parler de nouvelles idées...
      </p>
      <div class="chat_btn">
        <a class="mailto" href="mailto:felix.timmel@hotmail.fr">
          <button class="button">Contact me</button>
        </a>
      </div>
      <div class="chat_links">
        <p class="links_container"><i class="fab fa-linkedin"></i></p>
        <p class="links_container"><i class="fab fa-github-square"></i></p>
        <p class="links_container"><i class="fas fa-phone-square"></i></p>
        <p class="links_container"><i class="fas fa-envelope-square"></i></p>
      </div>
    </div>
  </div>
</div>

