<div class="main_container">
  <div class="about_me">
    <span class="heading underline">Full Stack Developer</span>

    <div class="description">
      <p>
        Salut, moi c'est Félix. <br>
        A étudié les principes de l'informatique, la conception et le prototypage d'applications Web, la dynamique d'équipe et le développement de la pile complète en mettant l'accent sur Ruby on Rails
      </p>
    </div>

  </div>
</div>

<div class="projects">
  <div class="main_container">
    <div class="project_grid">
      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>

      <div class="project_card">
        <div class="project_img">
          <img src="<%= image_url "began_large_logo.jpg" %>" alt="began image">
        </div>
        <div class="project_card_content">
          <p style="font-size: small;">Mobile app</p>
          <p>Began : the app to becoming vegan</p>
          <p><%= link_to "View project", "http://www.began.fun/" %></p>
        </div>
      </div>
    </div>
    <div class="project_content">
      <p class="heading">Ci-dessus mes projets en cours</p>
      <p>Ceux-ci m'ont permis de développer :</p>
      <ul class="list">
        <div class="row">
          <li>Conception / Prototypage</li>
          <li>Travail en équipe</li>
        </div>
        <div class="row">
          <li>Ruby on Rails</li>
          <li>Figma</li>
        </div>
      </ul>
    </div>
  </div>
</div>

<div class="main_container">
  <div class="skills">
    <p class="heading">My skills</p>
    <ul class="list">
      <div class="row">
        <li>kfkl</li>
        <li>kfkl</li>
      </div>
      <div class="row">
        <li>kfkl</li>
        <li>kfkl</li>
      </div>
    </ul>
  </div>
</div>

